<div class="ng-scope">
	<div class="ng-scope">
    <nav class="navbar navbar navbar-inverse navbar-no-bg" role="navigation"> 
       <div class="container">
          <span type="button" ng-click="back()" class="btn btn-link navbar-btn glyphicon glyphicon-chevron-left">
          	
          </span>
          <span type="button" class="pull-right btn btn-link navbar-btn glyphicon glyphicon-ok" ng-click="save(e)"></span>

        </div>
    </nav>
		    <div class="container">
		        <form role="form" class="ng-pristine ng-valid">
			         <div class="form-group"> 
			            <label style="color: #ccc;">标题</label> <input type="text" class="form-control input-lg" ng-model="jgr.title">
			        </div>
			        <div class="form-group">
			           <label for="exampleInputPassword1" style="color: #ccc;">内容</label>
			           <textarea  ng-model="jgr.content" class="form-control input-lg" rows="5"></textarea>
			        </div>
		        </form> 
		        
		        	<div class="form-group" style="color: #fff; font-size: 16px;">
			<label class="checkbox-inline">
      <input type="checkbox"  value="option1">游戏
    </label>
			
		</div>
		    </div> 
 </div>

</div>

